<!-- 
	Put the skeleton HTML for your Application here
	DO NOT include <html>, <head>, or <body> tags
	
	Create a separate template for any repeatable components
-->

<div>

	<script type="text/template" id="template_app">
		<div id="projects">
			<div class="popup"><!-- jquery space -->
			</div><!-- jquery space -->
			<header>
				<ul>
					<li id="lout">log out</li>
					<li id="usr"><h2>user name</h2></li>
					<li id="logo"><img src="img/logo.png"/></li>
				</ul>
			</header>
			<div class="wrapper">
				<h1>Projects</h1>
				<button value="New Project" id="new">New Project</button>
			</div>
			<div id="projects">
			</div> <!--projects-->
	</script>
	<script type="text/template" id="new">
		<div id="pop">
			<header>
				<h1>Add New Project</h1>
				<button id="close">remove</button>
			</header>
			<form id="loginForm">
				<label>Project Name:</label><input autofocus="autofocus" id="name" type="text" name="project"/>
				<label>Description:</label><input id="password" type="password" name="pass"/>
				<label>Due Date:</label><input id="date" type="text" name="date"/>
				<label>Due Date:</label>
				<select>
				  <option value="urgent">Urgent!</option>
				  <option value="overdue">Over Due</option>
				  <option value="normal">Normal</option>
				  <option value="delayed">Delayed</option>
				</select>
				<button id="addPro" class="submit">log in</button>
			</form>
		</div>
	</script>
	
	<script type="text/template" id="template_task_link">
		
		<!-- repeatable html for task menu -->
	
	</script>
	
	
	<script type="text/template" id="template_task_view">
	
		<!-- repeatable html for full task data in list -->
	
	</script>
	
	
	<!-- more component templates here -->
	
</div>