<!-- 
	Put the skeleton HTML for your Application here
	DO NOT include <html>, <head>, or <body> tags
	
	Create a separate template for any repeatable components
-->

<div>

	<script type="text/template" id="template_app">
		<div id="projects">
			<header>
				<ul>
					<li id="lout">log out</li>
					<li id="usr"><h2>user name</h2></li>
					<li id="logo"><img src="img/logo.png"/></li>
				</ul>
			</header>
			<div class="wrapper">
				<h1>Project Name</h1>
				<button value="New Project" id="new">New Project</button>
			</div>
			<div class="space"><!-- jquery space -->
			</div><!-- jquery space -->
			</div> <!--projects-->
	</script>
	
	
	<script type="text/template" id="template_task_link">
	
		<!-- repeatable html for task menu -->
	
	</script>
	
	
	<script type="text/template" id="template_task_view">
	
		<!-- repeatable html for full task data in list -->
	
	</script>
	
	
	<!-- more component templates here -->
	
</div>