<!-- 
	Put the skeleton HTML for your Landing page here
	DO NOT include <html>, <head>, or <body> tags
	
	(don't remove the parent div)
-->

<div>
	<script type="text/template" id="template_landing">
		<div id="jq">
		</div>
		<header class="wrapper">
			<ul>
				<li id="logo"><img src="img/logo.png"/></li>
				<li id="login button"><button id="jlog">Log in</span></button>
			</ul>
			<div class="quote">
				<h1><span class="label">Curo</span> - use minimal time by taking control</h1>
				<h3>Curo is a task management system that will help you with assign and manage team projects</h3>
			</div>
		</header>
		<div class="botsect">
		<section class="wrapper">
			<article>
				<h3>sign up it is easy</h3>
				<div id="jqsignup">
				<form id="regis" action="process.php" method="POST">
					<input placeholder="Email" name="email" id="email"></input>
				</form>
				</div>
				<h3 class="uabl">Usability Tested</h3>
				<p>The application Curo has had its interface tested for usability on Usability Hub by a click test and as of now has a 98% correct return rate and users spent a total of 1.5 seconds on each page </p>
				</article>
				<aside class="cta">
					<img src="img/comp.jpg"/>
				</aside>
		</section>
		</div><!-- botsect -->
	</script>
</div>